
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
    background-color: #181818; /* Background color */
    margin: 0; /* Remove default margin */
    padding: 20px;
    text-rendering: optimizeLegibility;
     -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Standard syntax */
}

.container {
    padding: 20px;
    max-width: 60%;
    margin: 0 auto;
    background-color: #181818;
}

#homehead {
opacity: 0;
    color: #AAAAAA; /* Heading color */
    text-rendering: geometricPrecision;
    font-size: 60px;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

p {
    line-height: 1.6; /* Improve readability */
    color: #AAAAAA;
}



#K {
position: relative;
font-size: 40px;
color: #bbb;
   text-shadow: 0 0 0px #fff;
    transition: color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}

#K:hover {
 color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

#L {
position: relative;
font-size: 35px;
left: -18px;
bottom: -8px;
color: #bbb;
   text-shadow: 0 0 0px #fff;
    transition: color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}

#L:hover {
     color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

#nav-cont {
    opacity: 1;
    position: sticky;
    top: 0;
    max-width: 100%;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center;
    transition:  opacity 0.5s ease-in-out;
    z-index: 100;
}

.navbar {
/*     background-color: #181818; */
    background: linear-gradient(to top, rgba(24, 24, 24, 0), rgba(24, 24, 24, 1));
    width: 60%;
    display: flex; /* Enable Flexbox */
    justify-content: space-between;
    align-items: center;
    padding: 40px; /* Padding around the navbar */
    transition: padding 0.5s ease-in-out;
}

.logo a {
    color: #fff; /* Logo text color */
    text-decoration: none; /* Remove underline from link */
    font-size: 1.5em; /* Increase font size for logo */
}

.nav-links {
    display: flex;

}

.nav-links a {
    color: #bbb; /* Link text color */
    text-decoration: none; /* Remove underline from links */
    margin-left: 40px; /* Space between links */
    text-shadow: 0 0 0px #fff;
    transition: color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
    font-size: 20px;
}

.nav-links a:hover {
    color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}


#landing {
display: flex;
flex-direction: column;
align-items: space-around;
margin-top: 60px;
}

.land {
    display: flex;
justify-content: center;
align-items: center;
 opacity: 0;
   transform: translateX(+20%);
    transition: opacity 1s ease, transform 1s ease;
}


.thumbnail {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px;
     filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7))
     saturate(50%);
     opacity: 0.5;
     transition: opacity 0.3s ease-in-out,
     saturate 0.3s ease-in-out;
}

.thumbnail:hover {
     opacity: 1;
     filter: saturate(100%)
     drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7));
     cursor: pointer;
      transition: opacity 0.3s ease-in-out,
     saturate 0.3s ease-in-out;
}

.land_p_div {
    min-width: 300px;
    padding: 20px;
 opacity: 0;
   transform: translateX(-20%);
    transition: opacity 1s ease, transform 1s ease;
}


#lightbox {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


#largeImage {
  max-width: 90%;
  max-height: 90%;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.close-button {
    position: absolute;
    top: 100px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 3;
}

#productdiv {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 16px;
margin-top: 60px;
min-width: 100%;
}


.prodimgdiv {
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
 opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.prodimg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
     filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7))
     saturate(50%);
     opacity: 0.5;
     transition: opacity 0.3s ease-in-out,
     saturate 0.3s ease-in-out;
}

.prodimg:hover {
     opacity: 1;
     filter: saturate(100%)
     drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7));
     cursor: pointer;
      transition: opacity 0.3s ease-in-out,
     saturate 0.3s ease-in-out;
}

.prodpara {
         margin: 20px;
     opacity: 0;
 line-height: 1.6; /* Improve readability */
    color: #AAAAAA;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#contact {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 60px;
}

label {
     line-height: 1.6; /* Improve readability */
    color: #AAAAAA;
        margin: 20px;
        font-size: 20px;
}

#contactForm {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
border: 2px solid rgba(170, 170, 170, 0);
border-radius: 0px;
padding: 10px;
transition: all 0.5s ease-in-out;
}

#contactForm:hover {
border: 2px solid rgba(170, 170, 170, 1);
border-radius: 20px;
transition: all 0.5s ease-in-out;
}

.form-group {
    opacity: 0;
     display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.form-group input {
padding: 10px;
outline: none;
font-size: 18px;
border: 2px solid rgba(170, 170, 170, 1);
border-radius: 20px;
background-color: rgba(0, 0, 0, 0);
color: rgba(170, 170, 170, 1);
box-shadow: inset 0 0 0px #fff, 0 0 0px #fff;
transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.form-group input:focus {
border: 2px solid rgba(255, 255, 255, 1);
box-shadow: inset 0 0 5px #fff, 0 0 10px #fff;
transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
width: 100%;
}

#message {
padding: 10px;
outline: none;
font-size: 18px;
border: 2px solid rgba(170, 170, 170, 1);
border-radius: 20px;
background-color: rgba(0, 0, 0, 0);
color: rgba(170, 170, 170, 1);
box-shadow: inset 0 0 0px #fff, 0 0 0px #fff;
transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#message:focus {
border: 2px solid rgba(255, 255, 255, 1);
box-shadow: inset 0 0 5px #fff, 0 0 10px #fff;
transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#senbut {
    background-color: #181818;
    border: none;
    color: #AAAAAA;
    margin: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.5s ease-in-out;
}

#senbut:hover {
 background-color: #AAAAAA;
 color: #181818;
    transform: scale(1.05);
}

#facebook {
 color: #bbb;
 align-self: self-end;
 margin: 10px;
 cursor: pointer;
  text-shadow: 0 0 0px #fff;
    transition: color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out,
    opacity 0.5s ease-in-out;
}

#facebook:hover {
 color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

#facebooklink {
text-decoration: none;
 color: #bbb;
   text-shadow: 0 0 0px #fff;
    transition: color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out,
    opacity 0.5s ease-in-out;
}

#facebooklink:hover {
 color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

@media (max-width: 1295px) {
#homehead {
    font-size: 40px;
}
}

@media (min-width: 1025px) and (max-width: 1200px) {
.nav-links a {
font-size: 18px;
}

#K {
    font-size: 30px;
}

#L {
    font-size: 25px;
    left: -15px;
bottom: -5px;
}
}
